{% extends "base.html.twig" %}

{% block body %}
  <div class="row">
    <div class="col-12">
      {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
  </div>
{% endblock %}
