{% extends 'base.html.twig' %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="app">
        <app></app>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}" type="text/javascript"></script>
{% endblock %}
